/* .custom.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.custom.sidebar-toggle {
  z-index: 200;
} */

#custom a {
  text-decoration: underline !important;
}

#custom .page-title {
  margin-bottom: 0 !important;
}

#custom .posts .post {
  margin-bottom: 2em !important;
}

#custom .posts .post-date {
  margin-bottom: 0 !important;
}